<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/ITSONLYJENNI">Jennifer</a> . Learning web developing for a future that is going to be technologically based.
  </p>
  <br />
  <p>
    Learning from University of Arizona BootCamp
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jennifer Fernandez</h2>
      <br />
      <p>
       Jennifer Fernandez is a web developer with knowledgment of Ruby on Rails, HTML, CSS. Studies at Arizona Western College full-time and University of Arizona BootCamp.com
      </p>
    </div>
  </div>

</div>
  
<br class="clear" />
<br />
<br />
<br />
<br />
