@font-face {
    font-family: 'ostrich_sansbold';
    src: font_url('ostrichsans-bold-webfont.woff2') format('woff2'), 
         font_url('ostrichsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ostrich_sansblack';
    src: font_url('ostrichsans-black-webfont.woff2') format('woff2'),
         font_url('ostrichsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ostrich_sans_roundedmedium';
    src: font_url('ostrichsansrounded-medium-webfont.woff2') format('woff2'),
         font_url('ostrichsansrounded-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}